/* General styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #55878a; /* Soft background color */
    color: #333;
    line-height: 1.6;
}

/* Container styling */
.container {
    width: 90%;
    max-width: 1200px;
}

/* Header styling */
.header {
    
    padding: 30px;
    background-color: #4fb9af; /* Blue background */
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for header */
    border-radius: 8px; /* Rounded corners */
}

.header h1 {
    margin: 0;
    text-transform: uppercase; /* Text transformation */
}

.header p {
    margin: 10px 0 0;
}

/* Box styling */
.box {
	height: 90%;
    margin: 30px auto;
    padding: 20px;
    background-color: lightgray; /* White background for box */
    border: 4px solid #4fb9af; /* Border around the box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow around the box */
    border-radius: 8px; /* Rounded corners */
    
}

.box h2 {
    text-transform: uppercase; /* Text transformation */
    color: #0078d7;
}

.box p {
    margin: 10px 0;

}

/* Footer styling */
.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 20px;
    border-radius: 8px; /* Rounded corners */
}